* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .6s;
}
body {
  background: #000;
  overflow-x: hidden;
}

main{
  font-family: Geneva;
  color: white;
  height: 100%;
  margin: 0;
  position: relative;
}

.bg-image{
  background-image: url('https://cdn.pixabay.com/photo/2014/02/01/22/12/monkey-256420_1280.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  filter: blur(5px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


h1 {
  font-family: Chalkduster;
  background-color: rgba(0,0,0, 0.4);
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

#img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 5px;
  animation: opacity-img 4s ease;
}

@keyframes opacity-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#img-caption{
  text-align: center
  ;
  font-style: italic;
}

.tribute-info-inner {
  max-width: 1400px;
  margin: 15px auto;
}

.tribute-info-inner p {
  line-height: 1.5;
  letter-spacing: .5px;
}

h2 {
  font-family: Chalkduster;
  background-color: rgba(0,0,0, 0.4);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

nav {
  width: 100%;
  margin: 20px 0;
  padding: 2vw;
  color: white;
  font-family: Chalkduster;
  font-size: 2vw;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  letter-spacing: 0;
}

a:hover {
  letter-spacing: .5px; 
  transform: scale(1.5);
}

#menu a:after {
  content: "";
  width: 0;
  height: 1px;
  background: white;
  display: block;
}

#menu a:hover:after {
  animation: hover-anim .5s ease;
  display: block;
  width: 100%;
}

@keyframes hover-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#partners {
  display: flex;
  align-items: center;
  background-color: white;
}

#partners a {
  width: 16.66666%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

#partners a .logo {
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#footer {
  margin-top: 5vw;
  text-align: center;
  width: 100vw;
}

h3 {
  margin: 5vw;
  padding: 20px;
  background-color: rgba(0,0,0, 0.4);
}

blockquote {
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0, 0.4);
}

#footer cite {
  text-align: right;
  display: block;
}


#rewild {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
}

#rewild:hover {
    transform: scale(1.5);
}

#tribute-link {
  font-family: Chalkduster;
}

#top {
  padding-bottom: 10px;
}
